@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisosc: #666;
    --griscla: #ebebeb;
    --verde: #39b54a;
}
*{
    font-family: "Roboto";
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
    margin: 0;
}
body{
    background-color: var(--griscla);
}
/*-------------Header------------*/
header{
    background-color: var(--amarillo);
}
header .banner{
    padding-bottom:0px;
    margin: 0;
    width:100%
}
header .contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 10px;
}   
header .contenedor .image{
    width: 50%;
}
header .contenedor .image img{
    width: 100%;
    padding: 5px;
}
header .contenedor .barra-busqueda{
    width: 50%;
    height: 35px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
header .contenedor .barra-busqueda form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header .barra-busqueda form input{
    width: 80%;
    border: 0;
    margin: 0;
    text-align: left;
}
header .barra-busqueda form button{
    border: 0;
    background-color:white;
    text-align: right;
}
header .lema p{
    padding: 10px 2px;
    text-align: center;
}
header nav .lista1, .lista2{
    display: none;
}
nav .burger-menu{
    display: flex;
    justify-content: center;
}
nav .burger-menu .fa-bars{
    background-color: var(--celeste);
    color: var(--griscla);
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}
nav div .banner{
    width: 100%;
}
/*-------Footer------*/
footer{
    text-align: center;
    margin-top: 20%;
}
footer section div{
    margin-top: 30px;
    margin-bottom: 30px;
}
.fa-user-shield, .fa-gift, .fa-credit-card{
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--celeste);
}
.caja2{
    background-color: white;
    border: solid var(--griscla);
    margin: 5px;
    padding: 15px;
}
.copyright{
    color: var(--grisosc)
}
@media (min-width:361px){
 /*Tablet*/

    /*Header*/
    header .contenedor{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    header .contenedor .image img{
        padding: 20px;
    }
    header .contenedor .lema1{
        margin: 10px
    }
    nav{
        margin: 0;
        padding: 0;
    }
    nav .lista{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1% 1%;
    }
    .lista .lista1{
        display: flex;
        width: 45%;
        height: 100%;
        text-align: center;
        align-items: flex-start;
    }
    .lista .lista1 li{
        display: flex;
        justify-content: center;
        width: 30%;
        padding: 5px;
    }
    .lista .lista2{
        display: flex;
        text-align: center;
        width: 45%;
        height: 100%;
    }
    .lista .lista2 li{
        display: flex;
        justify-content: center;
        width: 30%;
        padding: 5px;
    }
    div.burger-menu .fa-bars{
        display:none;
    }
}

@media(min-width:769px) {
/*Desktop*/

        /*-----Header------*/
        .contenedor .image{
            padding: 15px;
        }
        nav .lista{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            padding: 1% 1%;
        }
        .navi{
            display: inline;
        }
        .fa-bars{
            display:none;
        }
        nav .lista{
            padding: 0%;
        }
        .lista .lista1{
            display: flex;
            width: 40%;
            height: 100%;
            text-align: center;
        }
}
